body {
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.calculator-body {
    margin: 100px;
    background-color: whitesmoke;
    border: 2px solid black;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    height: 500px;
    width: 340px;
    justify-content: center;
    align-items: center;
    box-shadow: 3px 3px black;
}

.calculator-screen {
    background-color: white;
    border: 2px solid grey;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 55px;
    width: 250px;
}

button.equal {
    width: 120px;
}

button {
    width: 55px;
    height: 55px;
    font-size: large;
    font-weight: bold;
    border-radius: 10px;
}

.button-container {
    margin-top: 30px;
}

.first-div,
.second-div,
.third-div,
.fourth-div,
.fifth-div {
    margin-top: 20px;
}